################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/PubNub.Async/obj/Debug
/src/packages
/src/.vs/PubNub.Async/v14
/src/PubNub.Async.Tests/obj/Debug
