################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/packages/*
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
.vs/
*.user
