<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PubNub.Async.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
 </configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="PCLStorage.Abstractions" publicKeyToken="286fe515a2c35b64" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PCLStorage" publicKeyToken="286fe515a2c35b64" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.8.0" newVersion="4.5.8.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<applicationSettings>
		<PubNub.Async.Tests.Properties.Settings>
   <setting name="NoFeaturesPublishKey" serializeAs="String">
    <value>pub-c-dea93253-b374-4dbc-9d00-eec4ba5f74bd</value>
   </setting>
   <setting name="NoFeaturesSubscribeKey" serializeAs="String">
    <value>sub-c-6dfc18e6-0fef-11e6-8c3e-0619f8945a4f</value>
   </setting>
   <setting name="CipherKey" serializeAs="String">
    <value>CIPHER_KEY</value>
   </setting>
   <setting name="PublishKey" serializeAs="String">
    <value>pub-c-1ad3ed8a-1ecf-4d26-ba77-b554f077e87e</value>
   </setting>
   <setting name="SubscribeKey" serializeAs="String">
    <value>sub-c-4d29e328-101c-11e6-a8fd-02ee2ddab7fe</value>
   </setting>
   <setting name="SecretKey" serializeAs="String">
    <value>sec-c-NWMyZTE4ZmUtMDlkZC00NzM5LThiYzQtOWJjMTdjNmRmY2Rl</value>
   </setting>
   <setting name="HistoryEncryptedChannel" serializeAs="String">
    <value>history-tests-encrypted</value>
   </setting>
   <setting name="HistoryDecryptedChannel" serializeAs="String">
    <value>history-tests-unencrypted</value>
   </setting>
   <setting name="HistoryEncryptedHighVolumeChannel" serializeAs="String">
    <value>history-tests-encrypted.high-volume</value>
   </setting>
   <setting name="HistoryDecryptedHighVolumeChannel" serializeAs="String">
    <value>history-tests-unencrypted.high-volume</value>
   </setting>
   <setting name="PublishDecryptedChannel" serializeAs="String">
    <value>publish-tests-unencrypted</value>
   </setting>
   <setting name="PublishEncryptedChannel" serializeAs="String">
    <value>publish-tests-encrypted</value>
   </setting>
   <setting name="PamPublishKey" serializeAs="String">
    <value>pub-c-bc275f09-c3c1-4cce-b52e-bea8ff9c5b55</value>
   </setting>
   <setting name="PamSubKey" serializeAs="String">
    <value>sub-c-880a28f4-2e5d-11e6-a01f-0619f8945a4f</value>
   </setting>
   <setting name="PamSecKey" serializeAs="String">
    <value>sec-c-Y2JkZDM1MWMtNjQyMy00NjJiLTk5NGQtZWIyMTQ5ZTlmYTk0</value>
   </setting>
  </PubNub.Async.Tests.Properties.Settings>
	</applicationSettings>
</configuration>