<?xml version="1.0" encoding="utf-8"?>

<packages>
	<package id="ApprovalUtilities" version="3.0.11" targetFramework="net452" />
	<package id="AutoFixture" version="3.47.8" targetFramework="net452" />
	<package id="AutoFixture.AutoMoq" version="3.47.8" targetFramework="net452" />
	<package id="Castle.Core" version="3.3.3" targetFramework="net452" />
	<package id="coveralls.io" version="1.3.4" targetFramework="net452" />
	<package id="Flurl" version="2.0.0" targetFramework="net452" />
	<package id="Flurl.Http" version="0.10.1" targetFramework="net452" />
	<package id="Moq" version="4.5.9" targetFramework="net452" />
	<package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
	<package id="OpenCover" version="4.6.519" targetFramework="net452" />
	<package id="PCLCrypto" version="2.0.147" targetFramework="net452" />
	<package id="PInvoke.BCrypt" version="0.3.2" targetFramework="net452" />
	<package id="PInvoke.Kernel32" version="0.3.2" targetFramework="net452" />
	<package id="PInvoke.NCrypt" version="0.3.2" targetFramework="net452" />
	<package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="net452" />
	<package id="Validation" version="2.2.8" targetFramework="net452" />
	<package id="xunit" version="2.1.0" targetFramework="net452" />
	<package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
	<package id="xunit.assert" version="2.1.0" targetFramework="net452" />
	<package id="xunit.core" version="2.1.0" targetFramework="net452" />
	<package id="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
	<package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
	<package id="xunit.runner.console" version="2.1.0" targetFramework="net452" />
	<package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net452" />
</packages>